a
{
    text-decoration-line: none;
    color: white;
}

body
{
    padding: 0;
    margin: 0;
}

li
{
    list-style-type: none;
}

.main
{
    background: #121212;
    padding-top: 100px;
    padding-bottom: 60px;
}

.main__Line
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 80%;
}

.main__ArrowLeft
{
    margin-right: 20px;
}

.main__ArrowRight
{
    margin-left: 20px;
}

.main__Best
{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 70px;
    padding-top: 70px;
}

.selector__list
{
    margin: 0;
    padding: 0;
}

.selector__item_active
{
    width: 100%;
    height: 56%;
    display: inline-block;
}

.selector__item
{
    width: 0;
    height: 0;
}

.main_BestGameLinkActive
{
    width: 100%;
    height: 100%; 
}

.main_BestGameLink
{
    width: 0%;
    height: 0%; 
}

.main_BestGameImage
{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.main__BestHeadline
{
    text-align: center;
    font-size: 40px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main__GameFor
{
    color: white;
    margin-bottom: 50px;
    margin-left: 20px;
}

.main__Container
{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.main__Game
{
    width: 445px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.main__Game_img
{
    border-radius: 30px;
}

.main__GameHeadline
{
    color: white;
    display: block;
    text-align: center;
    margin: 0;
    font-size: 36px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}
