
li{
    list-style-type: none;  
     /* убрать маркировку */
}


header{
    width: 100%;
    /* height: 86px; */
    background: #202020;
     
}

a
{
    text-decoration-line: none;
    color: white;
}
/* body{
    margin: 0px;
}
.header__img{
    width: 100.87px;
    height: 90.49px;
    left: 3px;
    top: -7px;
}
.header__logoText{
    position: absolute;
    width: 85.56px;
    height: 43.75px;
    left: 85px;
    top: 20px;
}
.header__navitem{
    color: white;
    position: absolute;
    width: 208px;
    height: 30px;
    left: 1367px;
    top: 33px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px; 
} */
body{
    padding: 0;
    margin: 0;
}

ul
{
    margin: 0;
}

.main
{
    background: #121212;
}

.main__Line
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 80%;
}

.main__ArrowLeft
{
    margin-right: 20px;
}

.main__ArrowRight
{
    margin-left: 20px;
}

.main__Best
{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 70px;
}

.main_BestGameLink
{
    width: 60%;
    height: 40%; 
}

.main_BestGameImage
{
    width: 100%;
    height: 100%; 
}

.main__BestHeadline
{
    text-align: center;
    font-size: 40px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.main__GameFor
{
    color: white;
    margin-bottom: 50px;
}

.main__Container
{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.main__Game
{
    width: 445px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.main__GameHeadline
{
    color: white;
    display: block;
    text-align: center;
    margin: 0;
    font-size: 36px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.footer
{
    background: #202020;
}

.footer__TrapGamesInc
{
    color: #6B6B6B;
}