a
{
    text-decoration-line: none;
    color: white;
}

body
{
    padding: 0;
    margin: 0;
}

.header
{
    width: 100%;
    background: #202020;
    position: fixed;
}

.header__Logo
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.header__LogoText
{
    position: absolute;
    margin-top: 25px;
    margin-left: 10px;
}

.header__LineAbout
{
    position: absolute;
    left: 64%;
    margin-top: 20px;
}

.header__AboutText
{
    position: absolute;
    left: 65%;
    margin-top: 45px;
}

.header__LogIn
{
    position: absolute;
    left: 80%;
    margin-top: 30px;
}

.header__LogInText
{
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}

.main
{
    background: #121212;
    padding-top: 100px;
    padding-bottom: 60px;
}

.main__Line
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 80%;
}

.main__ArrowLeft
{
    margin-right: 20px;
}

.main__ArrowRight
{
    margin-left: 20px;
}

.main__Best
{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 70px;
}

.main_BestGameLink
{
    width: 60%;
    height: 40%; 
}

.main_BestGameImage
{
    width: 100%;
    height: 100%; 
}

.main__BestHeadline
{
    text-align: center;
    font-size: 40px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.main__GameFor
{
    color: white;
    margin-bottom: 50px;
    margin-left: 20px;
}

.main__Container
{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.main__Game
{
    width: 445px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.main__GameHeadline
{
    color: white;
    display: block;
    text-align: center;
    margin: 0;
    font-size: 36px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.footer
{
    background: #202020;
}

.footer__SocialMediaContainer
{
    width: 73%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-bottom: 50px;
}

.footer__SocialMedia
{
    margin-left: 10px;
    margin-right: 10px;
}

.footer__Line
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.footer__TrapGamesInc
{
    color: #6B6B6B;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 20px;
    margin-bottom: 0;
}
