
li{
    list-style-type: none;  
     /* убрать маркировку */
}


header{
    width: 100%;
    /* height: 86px; */
    background: #202020;
     
}
/* body{
    margin: 0px;
}
.header__img{
    width: 100.87px;
    height: 90.49px;
    left: 3px;
    top: -7px;
}
.header__logoText{
    position: absolute;
    width: 85.56px;
    height: 43.75px;
    left: 85px;
    top: 20px;
}
.header__navitem{
    color: white;
    position: absolute;
    width: 208px;
    height: 30px;
    left: 1367px;
    top: 33px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px; 
} */
.main{
    background: #121212;
}

.main__GameFor{
    color: white;
}

.main__Game1Text{
    color: white;
}

.main__Game2Text{
    color: white;
}

.main__Game3Text{
    color: white;
}

.main__Game4Text{
    color: white;
}

.main__Game5Text{
    color: white;
}

.main__Game6Text{
    color: white;
}

.footer{
    background: #202020;
}

.footer__TrapGamesInc{
    color: #6B6B6B;
}