h1
{
    color: white;  
}

p
{
    color: white;
    text-align: center;
}

a
{
    display: flex;
    justify-content: center;
    align-items: center;
}

html
{
    height: 100vh - 150px;
}

body
{
    margin: 0;
    padding: 0;
    height: 100vh - 150px;
    background: #121212;
}

.main
{
    padding-top: 150px;
    /* padding-bottom: 150px; */
    background: #121212;
}

.main__LogInWindow
{
    display: block;
    width: 500px;
    height: 700px;
    margin: auto;
    padding-top: 45px;

    background-color: #202020;
    border-radius: 12px;
}

.main__LogoText
{
    margin-top: 15px;
    margin-bottom: 45px;
}

.main__input
{
    background-color: #202020;
    color: #B9B9B9;
    border: solid 1px #555555;
    border-radius: 10px;
    font-size: 16px;

    width: 70%;
    height: 65px;
    
    display: flex;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

input::file-selector-button:hover
{
    background-color: #3b3083; 
}

input::file-selector-button:active
{
    background-color: #231c50; 
}

.main__button
{
    background-color: #443795;
    border: none;
    color: white;
    border-radius: 10px;
    width: 309px;
    height: 75px;
    font-size: 16px;

    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 34px;
    display: block;
}

.main__button:hover
{
    background-color: #3b3083; 
}

.main__button:active
{
    background-color: #231c50; 
}

.main__HaveNoAccount
{
    color: #B9B9B9;
    font-size: 16px;
    margin-bottom: 5px;
}

.main__Register
{
    color: white;
    font-size: 16px;
}

.footer__TrapGamesInc
{
    color: #6B6B6B;
}